@import "/node_modules/normalize.css/normalize.css";
@import "utils/variables";
@import "utils/media";
@import "utils/fonts";

:root {
  --inner-pd: 24px;
  @include media-tablet {
    --inner-pd: 16px;
  }
  @include media-mobile {
    --inner-pd: 10px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: unset;
  -webkit-font-smoothing: unset;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: ease 0.3s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
}

p {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $font;
  background-color: $bg;
  .inner {
    position: relative;
    width: 100%;
    max-width: 1520px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 var(--inner-pd);
    @include media-tablet {
      max-width: 980px;
    }
    @include media-mobile {
      max-width: 100%;
    }
  }
  main {
    flex: 1 0;
    &:not(:first-child) {
      padding-top: 65px;
      @include media-tablet {
        padding-top: 50px;
      }
      @include media-mobile {
        padding-top: 40px;
      }
    }
  }
  .section {
    &:not(:first-child) {
      margin-top: 60px;
      @include media-tablet {
        margin-top: 50px;
      }
      @include media-mobile {
        margin-top: 35px;
      }
    }
    &-head {
      margin-bottom: 40px;
      @include media-tablet {
        margin-top: 30px;
      }
      @include media-mobile {
        margin-top: 25px;
      }
    }
  }
  .text {
    &-mob-none {
      @include media-mobile {
        display: none;
      }
    }
    &-nowrap {
      white-space: nowrap;
    }
    &-light {
      font-weight: 300;
    }
    &-normal {
      font-weight: 400;
    }
    &-bold {
      font-weight: 700;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
    &-underline {
      text-decoration: underline;
    }
  }
}
