// fonts
$font: "Montserrat", "Arial", sans-serif;
$fontSlogan: "Industry", "Arial", sans-serif;

// colors
$black: #1a1b1b;
$white: #fff;
$darkBlue: #0a3367;
$skyBlue: #0077ff;
$oceanBlue: #1887bd;
$lightSkyBlue: #78abf3;
$bg: #cde1fa;
// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
