@import "@/app/styles/utils/variables";
.sponsors{
  display: flex;
  justify-content: space-between;
  background-color: white;
  font: 400 20px/1.3 $font;
  border-radius: 20px;
  margin-left: 60px;
  &__toptext{
    padding: 10px;
  }
  &__position {
    display: grid;
    padding: 10px;
  }
}