@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.cpage {
  &__container {
    display: flex;
    padding: 15px 12px;
    gap: 20px;
    border-radius: 18px;
    background: $white;
    animation: Afade 2s 1;
    transition: all 0.3s ease-in;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 3px 30px rgb(135 151 155 / 0.15);
        transform: scale(1.01);
      }
    }

    @include media-mobile {
      max-width: 735px;
      min-width: 100px;
    }

    @include media-custom(458px) {
      flex-direction: column;
      align-items: center;
      max-width: 530px;
    }
  }
  &__items {
    @include media-custom(458px) {
      display: grid;
      justify-items: center;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 190px;
    height: 300px;
    padding: 10px;
    border-radius: 21px;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 21px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font: 700 52px/1 $font;
    margin-bottom: 5px;
    @include media-tablet {
      font-size: 42px;
    }
    @include media-mobile {
      font-size: 20px;
    }
    @include media-custom(458px) {
      font-size: 18px;
    }
  }
  &__number {
    font: 52px/1 $font;
    color: $lightSkyBlue;
    margin-bottom: 5px;
    transition: all 0.3s ease-in;
    @include media-tablet {
      font: 32px/1.3 $font;
    }
    @include media-custom(458px) {
      flex-direction: column;
      align-items: center;
      max-width: 530px;
    }
    @include media-mobile {
      font: 18px/1.3 $font;
    }
    @include media-custom(458px) {
      font: 18px/1.3 $font;
    }
  }
  &__role {
    font: 700 22px/1.3 $font;
    @include media-mobile {
      font: 20px/1.3 $font;
    }
    @include media-custom(458px) {
      font: 18px/1.3 $font;
    }
  }
  @keyframes Afade {
    0% {
      color: black;
      margin-bottom: -80px;
      opacity: 0;
    }
    100% {
      margin-bottom: 0;
    }
  }
}
