@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.cplayers{
  padding: 20px 16px;
  background-color: #f5f2f5;
  border-radius: 18px;
  &__title{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    animation: appear 1.5s 1;
  }
  &__container{
    display: grid;
    gap: 20px;
  }
  @keyframes appear {
    0% {
      color: black;
      opacity: 0;
    }
    100% {
      margin-bottom: 0;
    }
  }
}