@import "@/app/styles/utils/variables";

.root {
  display: flex;
  flex-direction: column;
  gap: 52px;
}


.contentSeason {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px 25px;
  background-color: #f5f2f5;
  border-radius: 20px;
}