@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.cpage{
  position: relative;
  width: 100%;
  max-width: 1520px;
  min-width: 320px;
  margin: 80px auto;
  padding: 0 var(--inner-pd);
}
