@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.branching {
  margin-top: 50px;
  &__title {
    font: 700 22px/1.3 $font;
    margin-bottom: 30px;
  }
  &__name {
    font: 400 18px/1.3 $font;
  }
}
